body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.header{
    height: 60px;
    width: 100%;
    background-color: #041725;
    position: fixed;
    z-index: 9999;
    color: white;
    line-height: 55px;
}

.headerContent{
    float: left;
    margin-left: 2%;
    font-size: 20px;
}

.navBar{
    float: right;
    display: flex;
}

.navItem{
    margin-right: 10px;
    margin-left: 10px;
}

.activeNav{
    border-bottom: 2px solid white;
}

.navBar:last-child{
    margin-right: 20px;
}

.navItem:hover{
    font-size: 130%;
    cursor: pointer;
    margin: 0;
}

.stats{
    position: absolute;
    margin-top: 80px;
    margin-left: 10%;
}

.statShell{
    margin-bottom: 5%;
}

.statsItem{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
}

.statsHeader{
    margin-top: 5%;
    font-weight: bold;
    font-size: 18px;
}

.pieItem{
   flex-wrap: nowrap;
}

.pieFacts{
    margin-right: 5%;
    margin-left: 20%;
}

.graphFacts{
    width: 400px;
    position: absolute;
    right: 0;
}

.factsItem::before{
    content: "- ";
}